@{
    ViewBag.Title = "Portada Mis Viajes";
}



<div class="main-wrapper home-main nav-menuzord-transparent">

    <!-- ====================================
    ———	BANNER SECTION
    ===================================== -->
    <div id="rev_slider_12_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="star-test"
         data-source="gallery"
         style="margin:0px auto;background:rgba(0,0,0,0.15);padding:0px;margin-top:0px;margin-bottom:0px;background-repeat:no-repeat;background-size:cover;background-position:center center;" dir="ltr">
        <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
        <div id="rev_slider_12_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-33" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
                    data-thumb="../assets/img/home/slider/slider-01.jpg" data-delay="6000" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../assets/img/home/slider/slider-01.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                         data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-33-layer-22"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
                         data-type="shape" data-basealign="slide" data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme" id="slide-33-layer-6" data-x="['left','left','left','left']"
                         data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
                         data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
                         data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 6; white-space: wrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
                        Descubre Lo Increible
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" id="slide-33-layer-7" data-x="['left','left','left','left']"
                         data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
                         data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
                         data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 7; white-space: wrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
                        Catamarca Turistica
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-33-layer-10" data-x="['left','left','left','center']"
                         data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
                         data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
                         data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3940","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
                        Catamarca, invita a disfrutar de la naturaleza en todo su esplendor, respetando protocolos y cuidados sanitarios básicos para asegurarnos experiencias y estadías seguras. <br> Descubri todo lo que nuestra hermosa Catamarca tiene para ofrecer.
                    </div>

                    <!-- LAYER NR. 5 -->
                    <a href="https://wrapbootstrap.com/theme/star-travel-tour-booking-theme-admin-WB05T4R0J" target="_blank" class="tp-caption rev-btn " id="slide-33-layer-11" data-x="['left','left','left','left']"
                       data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
                       data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
                       data-type="button" data-responsive_offset="on" data-responsive="on"
                       data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3540","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                       data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
                       data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
                       style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        Hospedate
                    </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>

    <!--Barra para la Busqueda del Clima-->

    <div class="clima" id="clima">

        <div class="text-center informacion-clima fondo" id="informacion-clima">

        </div>
        <div id="menu-BusquedaClima" class="d-flex justify-content-center align-items-center bg-dark p-2">
            <div class="row container ">
                <div class="col-12 col-lg-3">
                    <p class="fs-5 text-uppercase text-white m-0 mt-2 text-lg-end">Buscar Clima en :</p>
                </div>
                <div class="col-12 col-lg-3">
                    <select class="form-control " id="selectDepartamentos">
                        <option value="" disabled selected>Seleccione un Departamento</option>
                    </select>
                </div>
                <div class="col-12 col-lg-3">
                    <select class="form-control" id="selectLocalidades">
                        <option value="" selected disabled>Seleccione una Localidad</option>
                    </select>
                </div>
                <div class="col-12 col-lg-3">
                    <input class="btn   text-white" style="background-color:#fd7e14;" type="button" value="Buscar" id="consultarClima">
                </div>
            </div>
        </div>
    </div>
    
    @section Scripts{

        <script type="text/javascript">

            $("#LogoBlack").show();
            $("#LogoColor").hide();
            $("#NavBar").toggleClass("nav-menuzord-transparent");



            //CLIMA
            document.addEventListener("DOMContentLoaded", function () {

                //Obtenemos los Departamentos
                $.ajax({
                    url: ("@Url.Content("~/Home/ObtenerDepartamentos")"),
                    type: 'GET',
                    success: function (response) {
                        mostrarDpto(response);
                    }
                });

            });

            document.querySelector('#selectDepartamentos').addEventListener("change", function () {

                let idDpto = parseInt(document.querySelector('#selectDepartamentos').value);

               //Obtenemos las Localidades
            $.ajax({
                url: ("@Url.Content("~/Home/ObtenerLocalidades")"),
                type: 'POST',
                data: { idDepartamento: idDpto },
                success: function (response) {
                    mostrarLocl(response);

                }
            });

            })

        </script>
        <script src="~/assets/js/clima.js"></script>

    }

