@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<div class="main-wrapper element-title">

    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken"
             style="background-image: url(../assets/img/pages/page-title-bg5.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 200px;">
                    <div class="col-lg-6">
                        <div class="page-title-content">
                            <div class="title-border">
                                <h2 class="text-uppercase text-white font-weight-bold">@ViewBag.Title</h2>
                            </div>
                            <p class="text-white mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	LOCKED SECTION
    ===================================== -->
    <section class="py-9 pt-md-10">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 col-lg-6 col-xl-7">

                    <h2 class="text-danger">Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</h2>

                </div>
            </div>
        </div>
    </section>

</div><!-- element wrapper ends -->
