@model MisViajes.Models.Paises

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estas seguro de querer Eliminiar?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class=btn  btn-primary d-lg-inline-block text-white" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>


@section Scripts{}