<li id="comments" class="comments-area">
    <div *ngFor="let item of valor">
      <div *ngIf="item.Activo">
        <ol class="comment-list">
          <li id="comment-{{item.Id}}" class="comment even thread-even depth-1 parent ">
            <article id="div-comment-{{item.Id}}" class="comment-body">
              <div class="comment-content">
                <h2><a href="#" data-toggle="collapse" data-target=".forum-item" class="text-body">{{item.Nombre}}</a></h2>
                <img src="{{item.AvatarUrl}}" class="rounded-circle" width="50" align="left" />
                <p class="text-secondary">{{item.Descripcion}}</p>
              </div>
              <BR clear="left" />
              <p class="text-muted">
                <a href="javascript:void(0)">{{item.Usuario}}</a> Escribio el:  <span class="text-secondary font-weight-bold">{{item.Fecha}}</span>
              </p>
              <div class="text-muted small text-center">
                <a rel="nofollow" class="comment-reply-link" href="../posts/create?id={{item.Id}}">Responder</a>
                <span class=" d-sm-inline-block"><img src="https://img.icons8.com/doodle/48/000000/comments.png" width=30% />{{item.Respuestas}}</span>
              </div>
            </article><!-- .comment-body -->
            <div *ngIf="item.Respuestas > 0">
              <div *ngFor="let resp of item.Posts">
                <ol class="children">
                  <li id="comment-{{resp.Id}}" class="comment odd alt depth-2 parent ">
                    <article id="div-comment-{{resp.Id}}" class="comment-body">
                      <div class="comment-content">
                        <img src="{{resp.AvatarUrl}}" class="rounded-circle" width="50" align="left" />
                        <p class="text-secondary">{{resp.Descripcion}}</p>
                      </div>
                      <BR clear="left" />
                      <p class="text-muted">
                        <a href="javascript:void(0)">{{resp.Usuario}}</a> Escribio el:  <span class="text-secondary font-weight-bold">{{resp.Fecha}}</span>
                      </p>
                      <div class="text-muted small text-center">
                        <a rel="nofollow" class="comment-reply-link" href="../Respuestas/create?id={{resp.Id}}">Responder</a>
                        <a href="../votos/VotoUp?postId={{resp.Id}}&up=true">
                            <span class="d-none d-sm-inline-block"><img src="https://img.icons8.com/plasticine/100/000000/good-quality.png" width=30% />{{resp.VotosUp}}</span>
                        </a>
                        <a href="../votos/VotoUp?postId={{resp.Id}}&up=false">
                          <span class="d-none d-sm-inline-block"><img src="https://img.icons8.com/plasticine/100/000000/poor-quality.png" width=30% />{{resp.VotosDown}}</span>
                        </a>
                        <span class=" d-sm-inline-block"><img src="https://img.icons8.com/doodle/48/000000/comments.png" width=30% />{{resp.Respuestas}}</span>
                      </div>

                      <a href="../votos/VotoUp?postId=2&up=false">
                       
                      </a>


                    </article><!-- .comment-body -->
                    <div *ngIf="resp.Respuestas > 0">
                      <div *ngFor="let r of resp.Respuesta">
                        <ol class="children">
                          <li id="comment-{{r.Id}}" class="comment odd alt depth-2 parent ">
                            <article id="div-comment-{{r.Id}}" class="comment-body">
                              <div class="comment-content">
                                <img src="{{r.AvatarUrl}}" class="rounded-circle" width="50" align="left" />
                                <p class="text-secondary">{{r.Descripcion}}</p>
                              </div>
                              <BR clear="left" />
                              <p class="text-muted">
                                <a href="javascript:void(0)">{{r.Usuario}}</a> Escribio el:  <span class="text-secondary font-weight-bold">{{r.Fecha}}</span>
                              </p>
                            </article><!-- .comment-body -->
                          </li><!-- #comment-## -->
                        </ol><!-- .children -->
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
</li>

