<div _ngcontent-eib-c17="" class="inner-sidebar">
  <div _ngcontent-eib-c17="" class="inner-sidebar-header justify-content-center">
    <button _ngcontent-eib-c17="" type="button" data-toggle="modal" data-target="#threadModal" class="btn bg-orange text-white has-icon btn-block">
      <svg _ngcontent-eib-c17="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus ">
        <line _ngcontent-eib-c17="" x1="12" y1="5" x2="12" y2="19"></line>
        <line _ngcontent-eib-c17="" x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
      Nueva Discusión
    </button>
  </div>
  <div _ngcontent-eib-c17="" class="inner-sidebar-body p-0">
    <div _ngcontent-eib-c17="" data-simplebar="init" class="p-3 h-100">
      <div _ngcontent-eib-c17="" class="simplebar-wrapper" style="margin: -16px;">
        <div _ngcontent-eib-c17="" class="simplebar-height-auto-observer-wrapper">
          <div _ngcontent-eib-c17="" class="simplebar-height-auto-observer"></div>
        </div>
        <nav _ngcontent-eib-c17="" class="nav nav-pills nav-gap-y-1 flex-column">
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> Todos los temas </a>
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> Popular de esta semana </a>
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> Popular de todos los tiempos </a>
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> Resuelto </a>
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> No resuelto </a>
          <a _ngcontent-eib-c17="" href="javascript:void(0)" class="nav-link nav-link-faded has-icon"> Aún no hay respuesta </a>
        </nav>
      </div>
    </div>
  </div>
</div>
