
    
   
    <div class="main p-0">
        <div class="inner-wrapper">
            <!--  sidebar -->
          <app-sidebar (sidebarEvent)="card.ordenarPor($event)"></app-sidebar>
            <div class="inner-main">

                <!-- Forum List -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <!--Card-->
                    <app-card #card></app-card>
                </div>
            </div>
        </div>
        <!-- +Nueva Discusion -->
        <app-new-discussion></app-new-discussion>
    
</div>
